:root {
  --blue: #2196f3;
  --hero_color: #2f303a;
  --primary_gray: #757575;
  --button_text: #ffffff;
  --title_color: #212121;
  --color_rgba: rgba(255, 255, 255, 0.6);
  --pink: #f5f4fa;
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
body {
  font-family: Roboto, sans-serif;
  /* background-color: var(--button_text); */
  font-style: normal;
  margin: 0;
}
ul {
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
}
/* убрал маркир список */

.main-nav {
  display: flex;
  width: 1200px;
  height: 80px;
}

.list {
  /* width: 1170px; */
  display: flex;
  /* margin-left: auto; */

  flex-wrap: wrap;
}
.site-nav .page + .page,
.list .page + .page {
  margin-left: 50px;
}
.page {
  font-style: normal;
}
/* Убирает подчеркивание в ссылках */
.site-nav {
  list-style: none;

  display: flex;
  /* margin-left: ; */
}

.site-nav .link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;

  color: #212121;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav.link-current {
  color: var(--blue);
  text-decoration: none;
  display: inline-block;
}
/* ХЕДЕР */
.nav {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* нов изменил */
.container .main-nav {
  display: flex;
}

/* Логотип */
.logo {
  color: var(--title_color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
/* .logo .link {
  } */
.logo .logoblue {
  color: var(--blue);
}

.link {
  color: var(--title_color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue);
}

.hero {
  background-color: #2f303a;

  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0px 0px 30px;
}

/* оформи кнопку плять */
.button_text {
  background-color: var(--blue);
  color: var(--button_text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  font-family: inherit;
  border: none;
  padding: 10px 32px;
  min-width: 200px;
  display: inline-block;
}
/* H2 ВНИМАНИЕ К ДЕТАЛЯМ */
.link-text {
  color: var(--title_color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0px;
}
/* это <P> */
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary_gray);
  margin-top: 0;
  margin-bottom: 0;

  /* text-align: center; */
  /* margin-bottom: 0px; */
}
/* наша команда -добавил паддинги топ и ниж*/
.section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0px;
  text-align: center;

  color: var(--title_color);
}
/* убрал ошибку - ниж марджин */
.text-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title_color);
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.dev {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary_gray);
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.footer {
  background-color: var(--hero_color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.white {
  color: var(--button_text);
  margin-bottom: 20px;
  display: block;
}

.link-var {
  color: var(--color_rgba);
  text-decoration: none;
}
.pink {
  background-color: var(--pink);
  padding-bottom: 94px;
  padding-top: 94px;
}
.studio {
  color: var(--button_text);
}

/* хеадер портфолио */
.head-port {
  width: 300px;
  height: 350px;
  left: 215px;
  top: 174px;
}
/* Адрес */
.white1 {
  color: var(--button_text);
}
/* фон майн */

.footer-port {
  background-color: var(--hero_color);
  color: #ffffff;
  text-decoration: none;
}
/* стили кнопок */
.button-port:hover,
.button-port:focus {
  background-color: var(--blue);
  color: var(--button_text);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; */
  display: flex;
  /* align-items: center;
  text-align: center;
  letter-spacing: 0.06em; */
}
/* .button:active {
  font-size: 1.63;
  line-height: 26px;
  letter-spacing: 0.03em;
} */

ul {
  list-style: none;
}
address {
  font-style: normal;
}

.style-text {
  margin-left: 331px;
  display: flex;
}
.paragraf {
  line-height: 1.88;
  color: var(--primary_gray);
  margin-top: 0px;
  margin-bottom: 30px;
}
.title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--title_color);
  line-height: 2;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
}
.box {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Классы для портфолио */
.flex-box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 94px;
}
.item-btn .button-port {
  margin-left: 8px;
}

/* комментарий какой то здесь */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: red; */
}

.list1 {
  padding-bottom: 0px;
  padding-top: 0px;
  display: flex;
}

.item-box:nth-child(3n) {
  margin-right: 0;
}
.item-box:nth-last-child(-n + 3) {
  margin-bottom: 30px;
}
.item-box {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
/* портфолио ЛИ */
.item-boxp {
  padding-left: 10;
  padding-bottom: 10;
}
.item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.item:nth-child(4n) {
  margin-right: 0;
}
.info {
  margin-bottom: 9px;
}
.list .item-working {
  width: 270px;
}

/* .item-working:not(:last-child) {
  margin-right: 30px; */
/* } */
